---
layout: default
title: Publications
---

<style>
.publication {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.publication-title { 
	font-weight: bold;
}

.paper-link {
	display: inline;
}

.navigation-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: block;
}

.navigation-entry {
	display: inline-block;
}

.navigation-entry:after {
		  content: ' |';
}

.navigation-entry:last-child:after {
		  content: '';
}
</style>

<a name="head"></a>
<p>
You can also find an overview over my publications at
my <a href="https://scholar.google.de/citations?user=q0kQeX4AAAAJ">google scholar profile</a> and my
my <a href="http://dblp.uni-trier.de/pers/hd/w/Weinert:Alexander">dblp entry</a>.
</p>

<p>
	<ul class="navigation-list">
		<li class="navigation-entry"> <a href="#conferences"> Conferences </a> </li>
		<li class="navigation-entry"> <a href="#journals"> Journals </a> </li>
		<li class="navigation-entry"> <a href="#techreports"> Technical Reports </a> </li>
		<li class="navigation-entry"> <a href="#theses"> Theses </a> </li>
		<li class="navigation-entry"> <a href="#unpublished"> Unpublished </a> </li>
	</ul>
</p>

<h1 class="section-heading"><a name="conferences"></a>Conferences<a href="#head"> ⤴ </a> </h1>
<ul>
{% for paper in site.data.papers  %}
	{% if paper.type == "conference" %}
		<li> <ul class="publication"> 
			{% if {{paper.coauthors}} != nil %}
				<li class="publication-title"> {{ paper.title }}, </li> 
				<li class="coauthor-line"> joint work with {{ paper.coauthors | array_to_sentence_string }} </li>
			{% else %}
				<li class="publication-title"> {{ paper.title }}. </li> 
			{% endif %}
			<li class="venue-line">
			{% if {{paper.venuelink}} != nil %}
				<a href="{{ paper.venuelink }}">{{ paper.venue }}</a>.
			{% else %}
				{{ paper.venue }}.
			{% endif %}
			<a href="../assets/pdf/pub/{{paper.year}}/{{paper.filename}}">PDF</a>. </li>
		</ul> </li>
	{% endif %}
{% endfor %}
</ul>

<h1 class="section-heading"><a name="journals"></a>Journals<a href="#head"> ⤴ </a></h1>
<ul>
{% for paper in site.data.papers  %}
	{% if paper.type == "journal" %}
		<li> <ul class="publication"> 
			{% if {{paper.coauthors}} != nil %}
				<li class="publication-title"> {{ paper.title }}, </li> 
				<li class="coauthor-line"> joint work with {{ paper.coauthors | array_to_sentence_string }} </li>
			{% else %}
				<li class="publication-title"> {{ paper.title }}. </li> 
			{% endif %}
			<li class="venue-line">
			{% if {{paper.venuelink}} != nil %}
				<a href="{{ paper.venuelink }}">{{ paper.venue }}</a>.
			{% else %}
				{{ paper.venue }}.
			{% endif %}
			<a href="../assets/pdf/pub/{{paper.year}}/{{paper.filename}}">PDF</a>. </li>
		</ul> </li>
	{% endif %}
{% endfor %}
</ul>

<h1 class="section-heading"><a name="journals"></a>Technical Reports<a href="#head"> ⤴ </a></h1>
<ul>
{% for paper in site.data.papers  %}
	{% if paper.type == "techreport" %}
		<li> <ul class="publication"> 
			{% if {{paper.coauthors}} != nil %}
				<li class="publication-title"> {{ paper.title }}, </li> 
				<li class="coauthor-line"> joint work with {{ paper.coauthors | array_to_sentence_string }} </li>
			{% else %}
				<li class="publication-title"> {{ paper.title }}. </li> 
			{% endif %}
			<li class="venue-line">
			{% if {{paper.venuelink}} != nil %}
				<a href="{{ paper.venuelink }}">{{ paper.venue }}</a>.
			{% else %}
				{{ paper.venue }}.
			{% endif %}
			<a href="../assets/pdf/pub/{{paper.year}}/{{paper.filename}}">PDF</a>. </li>
		</ul> </li>
	{% endif %}
{% endfor %}
</ul>

<h1 class="section-heading"><a name="theses"></a>Theses<a href="#head"> ⤴ </a></h1>
<ul>
{% for paper in site.data.papers  %}
	{% if paper.type == "thesis" %}
		<li> <ul class="publication"> 
			{% if {{paper.coauthors}} != nil %}
				<li class="publication-title"> {{ paper.title }}, </li> 
				<li class="coauthor-line"> joint work with {{ paper.coauthors | array_to_sentence_string }} </li>
			{% else %}
				<li class="publication-title"> {{ paper.title }}. </li> 
			{% endif %}
			<li class="venue-line">
			{% if {{paper.venuelink}} != nil %}
				<a href="{{ paper.venuelink }}">{{ paper.venue }}</a>.
			{% else %}
				{{ paper.venue }}.
			{% endif %}
			<a href="../assets/pdf/pub/{{paper.year}}/{{paper.filename}}">PDF</a>. </li>
		</ul> </li>
	{% endif %}
{% endfor %}
</ul>

<h1 class="section-heading"><a name="unpublished"></a>Unpublished<a href="#head"> ⤴ </a></h1>
<ul>
{% for paper in site.data.papers  %}
	{% if paper.type == "unpublished" %}
		<li> <ul class="publication"> 
			{% if {{paper.coauthors}} != nil %}
				<li class="publication-title"> {{ paper.title }}, </li> 
				<li class="coauthor-line"> joint work with {{ paper.coauthors | array_to_sentence_string }} </li>
			{% else %}
				<li class="publication-title"> {{ paper.title }}. </li> 
			{% endif %}
			<li class="venue-line">
			{% if {{paper.venuelink}} != nil %}
				<a href="{{ paper.venuelink }}">{{ paper.venue }}</a>.
			{% else %}
				{{ paper.venue }}.
			{% endif %}
			<a href="../assets/pdf/pub/{{paper.year}}/{{paper.filename}}">PDF</a>. </li>
		</ul> </li>
	{% endif %}
{% endfor %}
</ul>
